<h5 class="main-title"> Currency List for 1 USD </h5>
<table class="table table-striped">
    <caption> Currency List</caption>
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">AUD</th>
            <th scope="col">CAD</th>
            <th scope="col">CHF</th>
            <th scope="col">EUR</th>
            <th scope="col">GBP</th>
            <th scope="col">JPY</th>
            <th scope="col">RUB</th>
            <th scope="col">TRY</th>
        </tr>
    </thead>
    <tbody *ngFor="let info of infos">
        <tr>
            <td>{{ info.date }}</td>
            <td>{{ info.aud }}</td>
            <td>{{ info.cad }}</td>
            <td>{{ info.chf }}</td>
            <td>{{ info.eur }}</td>
            <td>{{ info.gbp }}</td>
            <td>{{ info.jpy }}</td>
            <td>{{ info.rub }}</td>
            <td>{{ info.try }}</td>
        </tr>
    </tbody>
</table>
