<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">

    <a href="#" class="navbar-brand">MyApp</a>

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- HOME -->
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <!-- ADMIN BOARD -->
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>

      <!-- USER BOARD -->
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn && !showAdminBoard"
          routerLink="user">User</a>
      </li>

      <!-- CURRENCY LIST -->
      <li class="nav-item">
        <a href="/currency-list" class="nav-link" *ngIf="isLoggedIn"
          routerLink="currency-list">Currency
          List</a>
      </li>

    </ul>



    <!-- SIGN UP -->
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <!-- LOG IN -->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>



    <!-- PROFILE -->
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>

      <!-- LOG OUT -->
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>