<h2> Currency Rates</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Date</th>
            <th> CAD </th>
            <th> EUR</th>
            <th> GBP </th>
            <th> JPY </th>
            <th> TRY </th>
            <th> USD </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let rate of rates" >
            <td> {{ rate.date }} </td>
            <td> {{ rate.cad }} </td>
            <td> {{ rate.eur }} </td>
            <td> {{ rate.gbp }} </td>
            <td> {{ rate.jpy }} </td>
            <td> {{ rate.tryy }} </td>
            <td> {{ rate.usd }} </td>
            <td>
                <button (click) = "updateRate(rate.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteRate(rate.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>