<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius:
          1rem;">
          <div class="card-body p-5 text-center">

            <!-- ************************************************************** -->
            <form #loginForm="ngForm" name="loginForm"
              (ngSubmit)="loginForm.form.valid &&
              onSubmit(loginForm)">
              <div class="mb-md-3 mt-md-1 pb-3">
                <p class="text-white-50 mb-5">Please enter username and
                  password!</p>

                <div class="form-outline form-white mb-1">
                  <label for="username">Username</label>
                  <input type="text" class="form-control"
                    name="username"
                    [(ngModel)]="user.username" required
                    #username="ngModel"/>
                  <div class="alert alert-danger" role="alert"
                    *ngIf="username.errors &&
                    loginForm.submitted"> Username is required! </div>
                </div>

                <div class="form-outline form-white mb-2">
                  <label for="password">Password</label>
                  <input type="password" class="form-control"
                    name="password"
                    [(ngModel)]="user.password" required
                    minlength="6"
                    #password="ngModel"/>
                  <div class="alert alert-danger" role="alert"
                    *ngIf="password.errors && loginForm.submitted">
                    <div
                      *ngIf="password.errors?.['required']">Password
                      is
                      required</div>
                    <div
                      *ngIf="password.errors?.['minlength']"> Password must be
                      at least 6 characters</div>
                  </div>
                </div>
                <p class="small mb-4 pb-lg-1"><a class="text-white-50"
                    href="#!">Forgot password?</a></p>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </div>
              <!-- ***************************************************************** -->
            </form>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!"
                  class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>